########################################
# Node
########################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

########################################
# Hardhat
########################################
artifacts/
cache/
coverage/
typechain-types/
coverage.json

########################################
# Environment files
########################################
.env
.env.local
.env.development
.env.production

########################################
# Next.js
########################################
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

########################################
# Logs
########################################
logs/
*.log

########################################
# OS files
########################################
.DS_Store
Thumbs.db

########################################
# IDE files
########################################
.vscode/
.idea/
*.swp

########################################
# Docker
########################################
docker-data/

########################################
# Misc
########################################
dist/
build/
tmp/
frontend/node_modules
node_modules