version: "3.9"

services:
  hardhat:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8545:8545"

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - hardhat
